.h1{
    color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    
}
.para1{
    color: darkviolet;
    font-family: 'Courier New', Courier, monospace;
}

.para2{
    color: deepskyblue;
}